<div class="container">

<h1>Pony Challenge</h1>
<h2>Current Maze: {{mazeId}}</h2>
<form  (ngSubmit)="onSubmit()"  [formGroup]="poniesForm" [hidden]="mazeId">
<div class="row">

<div class="form-group col-6">
  <label for="Maze Width"> Maze Width</label>
  <input type="number" formControlName="maze_width" [value]="15" min="15" max="25"   class="form-control" id="maze_width" (keydown)="onKeydown($event)">
  <label for="Maze Height"> Maze Height</label>
  <input type="number" formControlName="maze_height" [value]="15" min="15" max="25"   class="form-control" id="maze_height">
</div>
<div class="form-group col-6">
  <label for="Pony name">Please choose your Pony: </label>
  <select  class="form-control" id="player_name"  formControlName="player_name">
          <option   required  *ngFor="let pony of ponies; let i = index"  [value]="pony.name"  selected="pony.name == Twilight Sparkle" >{{pony.name}} </option>
  </select>
  <label for="Maze Difficultity"> Maze Difficultity</label>
  <input type="number" formControlName="maze_diff" [value]="0" min="0" max="10"  class="form-control" id="maze_diff">
</div>

</div>


<button type="submit" class="btn btn-primary"name="button">Create new maze</button>

</form>
<div class="container"  [hidden]="!mazeId">
  <div class="d-flex justify-content-center">
      <button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >New maze</button>
  </div>
  <div class="col-12">
    <h2>{{warn_text}}</h2>
    <div class="json-content" hljs>
      <p>'P' = Pony, 'E' = Exit and 'D' = Domokun</p>
    <h4>{{moveDescription}}</h4>
  </div>
<div class="row">
  <div class="col-lg-9">
    <pre>
      {{mazeToPrint}}
    </pre>
  </div>
  <div class="col-lg-3 col-xs-12">
    <h4 class="d-flex justify-content-center" style="margin-bottom:15px">Directions to move</h4>
    <div class="d-flex justify-content-center" style="margin-bottom:5px">
        <button type="button" name="button" class="btn btn-primary" (click)="goThisDirection('north')">Go North</button>
    </div>

    <div class="d-flex justify-content-center" style="margin-bottom:5px">
        <button type="button" name="button" class="btn btn-primary"  (click)="goThisDirection('west')" style="margin-right:10px" >Go West</button>
        <button type="button" name="button" class="btn btn-primary"  (click)="goThisDirection('east')">Go East</button>
    </div>
    <div class="d-flex justify-content-center" style="margin-bottom:15px">
        <button type="button" name="button" class="btn btn-primary"  (click)="goThisDirection('south')" >Go South</button>
    </div>
  </div>




  </div>




</div>


</div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Give up on this maze?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Will you really leave {{poniesForm.value.player_name}}? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="newMaze()" data-dismiss="modal">Give up</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>
